body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
a{
    color: #fff;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: purple;
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background-color: white;
}

nav{
    background: transparent;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    color: #989898;
}
.small-nav,#small-menu{
    display: none;
}
.fixed{
    position: fixed;
    width: 100%;
    filter: invert(1);
    background: black;
    box-shadow: 0px 1px 8px 0px #948d8d;
    animation: transform .2s linear;
    z-index: 9;
}
@keyframes transform {
    from{
        transform: translateY(-100px);
    }to{
        transform: translateY(0px);
    }
}
nav div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 20%;
    margin-left: -50px;
}
.logo img{
    width: 42%;
    height: 80%;
    cursor: pointer;
    filter: invert(0);
}
.menu-list{
    width: 40%;
}
.menu-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
    cursor: pointer;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
    font-size: 16px;
    cursor: pointer;
    margin-right: 30px;
}
.menu-list ul li:hover,.social-icons i:hover{
    color: white;
}
#banner{
    position: relative;
    top: -120px;
    z-index: -1;
    height: 100vh;
}
#banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    animation: opacity 1s linear;
}
@keyframes opacity{
    0%{
        opacity: 0.5;
    }50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
.card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
.card{
    text-align: center;
    width: 18%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-content: center;
}
.card i{
    font-size: 40px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 13px 0px #8080805c;
}
.card i:hover{
    color: white;
    transition: all .2s;
}
.card:hover i{
    background: linear-gradient(97deg,#7b1fa2, #4762ff);
}
.card h4{
    font-size: 20px;
    font-weight: 600;
}
.card p{
    color: gray;
    margin: 0;
}
.prod-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
}
.prod-head h1{
    font-size: 40px;
    font-weight: 500;
}
.prod-head h3{
    font-size: 18px;
    font-weight: 100;
    color: gray;
}
.prod-img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.prod-img .img-box{
    width: 30%;
    height: 300px;
    margin: 75px 38px 0px 0px;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.prod-img .img-box:last-child img{
    object-position: bottom;
}
.about-div{
    padding: 100px;
    display: flex;
}
.about-img,.about-txt{
    width: 50%;
}
.about-img{
    display: flex;
    align-items: flex-end;
}
.color{
    width: 80%;
    height: 90%;
    background: linear-gradient(330deg,#7b1fa2, #4762ff);
    position: relative;
}
.color-img{
    background: url(images/pnb.png);
    background-repeat: no-repeat;
    background-size: auto;
    filter: invert(0);
    background-position: center;
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

[data-aos="new-animation"] {
    bottom: 0px;
    left: 0px;
}
    .aos-animate {
        bottom: 25px;
        left: 25px;
    }
.about-txt h1{
    font-size: 50px;
    font-weight: 100;
}
.about-txt p{
    font-size: 22px;
    padding-right: 100px;
    line-height: 1.5;
    color: gray;
}
.about-btn{
    justify-content: space-between;
    display: flex;
    width: 55%;
}
.about-btn button{
    border: 1px solid lightgray;
    background: none;
    font-size: 15px;
    height: 57px;
    width: 145px;
    transition: all .5s;
}
.about-btn button:first-child{
    font-weight: 600;
    color: white;
    background: linear-gradient(270deg,#7b1fa2, #4762ff);
    border: none;
}
.about-btn button:first-child:hover,.ask-email button:hover{
    background: linear-gradient(90deg,#7b1fa2, #4762ff);
}
.about-btn button:last-child:hover{
     border: none;
    background: black;
    color: white;
}
.feedback{
    padding: 100px;
    background: url(images/bg.jpg);
    color: white;
    background-size: cover;
    position: relative;
    height: 800px;
}
.arrow{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 85%;
    top: 50%;
}
.arrow i{
    font-size: 35px;
    font-weight: 100;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    transition: all .5s;
}
.arrow i:hover{
    background-color: white;
    color: black;
    transition: all .5s;
}
.heading h4{
    font-size: 18px;
    text-align: center;
}
#slider{
    width: 68%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100px;
    left: 18%;
}
@keyframes slide{
    from{
        transform: translateX(300px);
    }to{
        transform: translateX(0px);
    }
}
.slide{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 786px;
    height: 85%;
    position: absolute;
    top: 20%;
    animation: slide .2s linear;
}
.slide p{
    font-size: 24px;
    line-height: 43px;
    text-align: center;
}
.slide img{
    border-radius: 50%;
    width: 80px;
}
.slide h5{
    font-size: 15px;
}
.counts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px;
    background: white;
}
.counts div:hover h1{
    color:blueviolet;
    transition: all .5s;
}
.counts h1{
    font-size: 40px;
    margin: 0
}
.counts p{
    font-size: 14px;
}
.ask-div{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    background: url(images/bg.jpg);
    color: white;
}
.ask-head{
    width: 45%;
    background-size: cover;
}
.ask-head h1{
    font-size: 3em;
    line-height: 1.5;
    font-weight: 100;
    color: #ffafa2;
}
.ask-head h1::first-line{
    color: white;
}
.ask-email{
    width: 25%;
    text-align: center;
}
.ask-email button{
    width: 100%;
    height: 60px;
    border: none;
    background: linear-gradient(270deg,#7b1fa2, #4762ff);
    color: white;
    font-size: 17px;
}
.ask-email p{
    color: #b7aeae;
    font-size: 18px;
}
.sticky{
    position: sticky;
    bottom: 0px;
    z-index: -1;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 75px 115px;
    background-color: #2D323D;
}
.footer h6{
    font-size: 20px;
    margin: 0;
    margin-bottom: 35px;
    color: white;
    font-weight: 100;
}
.footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer ul li{
    line-height: 2;
    color: #98a2aa;
}
.footer ul li:hover{
    color: white;
}
.wd{
    width: 100%;
    color: #98a2aa;
}
.footer-btm{
    padding: 30px;
    text-align: center;
    background: #2d323d;
    color: #98a2aa;
    border-top: 1px solid;
}

@media (max-width:480px){
    ::-webkit-scrollbar {
        width: 0px;
    }
      nav{
          display: none;
      }
      .small-nav{
        background: black;
        filter: invert(1);
        color: #fdfdfd;
        display: flex;
        height: 130px;
        justify-content: space-between;
        align-items: center;
      }
      .small-nav img{
        filter: invert(1);
        width: 100%;
      }
      .small-logo{
        width: 30%;
        margin-left: 20px;
      }
      .icon{
        margin-right: 20px;
      }
      .icon i{
        font-size: 35px;
      }
      .close{
        position: absolute;
        left: -30%;
        top: 0%;
        font-size: 35px;
        width: 30%;
        height: 17%;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
      .close-in{
        position: absolute;
        top: 90px;
        right: 30px;
        font-size: 28px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
        color: white;
      }
      #small-menu{
        width: 75%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 9;
        background: linear-gradient(270deg,#7b1fa2, #4762ff);
        right: 0;
        display: flex;
        align-items: center;
        display: none;
      }
      @keyframes slidemenu {
          from{
              transform: translateX(100%);
          }to{
              transform: translateX(0%);
          }

      }
      @keyframes hidemenu {
        from{
            transform: translateX(0%);
        }to{
            transform: translateX(100%);
        }

    }
      #small-menu ul{
        padding: 0;
        margin-left: 30px;
        list-style: none;
        font-size: 22px;
        color: white;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      #banner {
        top: 0px;
        height: 50vh;
      }
      .card-div{
        flex-direction: column;
        align-items: unset;
        align-items: center;
      }
      .card{
            width: 65%;
          margin: 30px;
      }
      .prod-div{
        padding: 0;
    }
    .prod-head h3{
        padding: 10px;
    }
    .prod-img{
        justify-content: center;
    }
      .prod-img .img-box {
        width: 90%;
        margin: 0;
        margin-top: 75px;
    }
    .about-div{
        flex-direction: column;
        padding: 0;
    }
    .about-img{
        height: 500px;
        width: 100%;
        justify-content: center;
    }
    .color {
        width: 75%;
        height: 50%;
    }
    .about-txt{
        width: 90%;
        padding-left: 20px;
        padding-bottom: 35px ;
    }
    .about-txt h1{
        font-size: 35px;
    }
    .about-txt p{
        padding: 0;
        font-size: 16px;
    }
    .about-btn{
        width: 70%;
    }
    .about-btn button{
        height: 45px;
        width: 120px;
    }
    .feedback{
        padding: 30px;
        height: 180vh;
    }
    #slider {
        width: 100%;
        height: 0%;
        overflow: visible;
        position: relative;
        top: 0%;
        left: 0%;
    }
    .slide {
        flex-direction: column;
        width: 100%;
        height: 85%;
        animation: slide .2s linear;
        justify-content: unset;
        animation: none;
    }
    .slide p {
        font-size: 20px;
    }
    .arrow{
        width: 30%;
        top: 90%;
        left: 35%;
    }
    .arrow i{
        width: 50px;
        height: 50px;
    }
    .counts{
        flex-direction: column;
    }
    .ask-div{
        flex-direction: column;
        padding: 0;
    }
    .ask-head,.ask-email{
        width: 80%;
    }
    .ask-head h1{
        font-size: 30px;
    }
    .footer{
        flex-direction: column;
        padding: 0;
        padding-left: 15px;
        padding-top: 30px;
    }
    .footer div{
        padding-bottom: 20px;
    }
    .footer h6{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .footer ul{
        font-size: 13px;
    }
    .wd {
        width: 25%;
        padding: 0 !important;
        font-size: 15px;
    }
    .footer-btm{
        padding: 30px 0px;
        font-size: 10px;
    }
    .sticky {
        position: relative;
        bottom: 0px;
        z-index: -1;
    }
}

@media (min-width: 480px) and (max-width: 991px){
    
    nav{
        display: none;
    }
    .small-nav{
      background: black;
      filter: invert(1);
      color: #fdfdfd;
      display: flex;
      height: 130px;
      justify-content: space-between;
      align-items: center;
      padding: 0px 25px;
      width: 94%;
    }
    .small-nav img{
        filter: invert(1);
        width: 100%;
      }
    .small-logo {
        width: 15%;
    }
    .icon i{
      font-size: 35px;
    }
    .close{
      position: absolute;
      left: -30%;
      top: 0%;
      font-size: 35px;
      width: 30%;
      height: 17%;
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
    .close-in{
      position: absolute;
      top: 90px;
      right: 30px;
      font-size: 28px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex !important;
      align-items: center;
      justify-content: center;
      border: 2px solid gray;
      color: white;
    }
    #small-menu{
      width: 75%;
      height: 100vh;
      position: fixed;
      top: 0;
      z-index: 9;
      background: linear-gradient(270deg,#7b1fa2, #4762ff);
      right: 0;
      display: flex;
      align-items: center;
      display: none;
    }
    #small-menu ul{
        padding: 0;
        margin-left: 30px;
        list-style: none;
        font-size: 22px;
        color: white;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    .card{
        width: 50%;
        padding-bottom: 50px;
    }
    .prod-div{
        padding: 50px
    }
    .prod-head h3{
        margin-bottom: 50px;
    }
    .prod-img{
        justify-content: space-between;
    }
    .prod-img .img-box {
        width: 45%;
        margin: 0;
        padding-bottom: 75px;
    }
    .sticky {
        position: relative;
        bottom: 0px;
        z-index: -1;
    }
    .ask-div{
        flex-direction: column;
        padding: 30px;
    }
    .ask-head {
        width: 60%;
    }
    .ask-email {
        width: 40%;
    }
    .about-div{
        flex-direction: column;
        align-items: center;
    }
    .about-img{
        height: 330px;
        width: 70%;
    }
    .about-img, .about-txt {
        width: 100%;
    }
    .about-btn{
        width: 50%;
    }
    .slide{
        width: 385px;
    }
    #slider {
        width: 80%;
        left: 15%;
        top: 0px;
    }
}